*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
out/
gradlew
gradlew.bat
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
app/libs/
gradle/wrapper/gradle-wrapper.jar
.idea/markdown-exported-files.xml
